################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Finance/SSAS/CLA_Finance_BI/CLA_Finance_BI/bin/Data/CLA_Finance_BI_AisteKuodyte_b220075e-f209-4f15-a483-d25852848eb4.0.db
